<div>
  <h1 class="my-5">Goodbye!</h1>
  <p class="my-5">
    It was nice having you here.
  </p>
  <p class="my-5">
    Say <%= link_to "Hello", say_hello_path, class: 'text-red-700' %> again.
  </p>
</div>